<div class='book'>
    <div class="ranking">
        <p class="id">#<%= `${book.id}`%> </p>
        <p class="type"><%= `${book.type}`%> </p>
    </div>
    <div class="info">
        <img src='<%= `${book.imgUrl}`%>' >
    </div>
    <div class="description">
        <p class="title"><%= `${book.title}`%> </p>
        <p>#<%= `${book.description}`%> </p>
        <p class="author">Author: <%= `${book.author}`%> </p>
    </div>
</div>