<li class='song-row'>
  <div>
      <span class='item-rank'><%- `#${item.rank}` %></span>
      <span class='item-streams'><%- `(${item.streams} streams)` %></span>
      <h3 class='item-title'><%- `${item.title}` %></h3>
      <span class='item-artist'><%- `by ${item.artist}` %></span>
      <span class='item-date'><%- `publication date: ${item.publicationDate}` %></span>
  </div>
</li>
