<li>
    <div>
        <p>
            <p>#<%= song.rank %></p>
            <p>(<%= song.streams %> streams)</p>
        </p>
        <div>
        <p>Title: <%= song.title %></p>
        <p>By: <%= song.artist %></p>
        <p>Publicated on: <%= song.publicationDate %></p>
        </div>
    </div>
</li>