<li>
    <div class="song">
        <div class="songNumbers">
        <span class="songRank">#<%=song.rank%></span>
        <span class="songStreams">(<%=(song.streams)%>)</span>
        </div>
    <div class="songInfo">
        <span class="songTitle"><%=song.title%></span>
        <span class="songArtist">By <%=song.artist%></span>
    </div>
    </div>
    <span class="songDate">Publication Date: <%=song.publicationDate%></span>
</li>
