<div class='song'>
    <div class="ranking">
        <p class="rank">#<%= `${song.rank}` %></p>
        <p class="stream">(<%= `${song.streams} streams`%>) </p>
    </div>
    <div class="info">
        <p class="title"><%= `${song.title}` %> </p>
        <p class="artist"><%= `${song.artist}` %> </p>
        <p class="pub-date">Publication date: <%= `${song.publicationDate}` %> </p>
    </div>
</div>
