<section class="song-list">
    <ul>
        <% top50.forEach((song) => { %>
            <li class="list-item">
                <div><span><%- song.rank %>#</span> <span>(<%- song.streams %>)</span></div>
                <div><span><%- song.title %></span>  <span>By <%- song.artist %></span></div>
                <div><span>Publication Date: <%- song.publicationDate %></span></div>
            </li>
        <% }) %>
    </ul>
</section>