<li>
    <div class='row'>
        <div class='rankAndViews'>
            <p class='rank'>#<%= item.rank %></p>
            <p class='views'>(<%= item.streams %> streams)</p>
        </div>
        <div class='mainInfo'>
            <div class = 'titleAndArtist'>
                <p class='title'><%= item.title %></p>
                <p class='artist'><%= item.artist %></p>
            </div>
            <div class ='publicationDate'>
                <p class='date'>Publication date: <%= item.publicationDate %></p>
            </div>
        </div>
    </div>
</li>
