<li class="row">
  <div class="rankBox">
    <span class="rank">#<%= item.rank%></span>
    <span class="streams">(<%= item.streams %> streams)</span>
  </div>
  <div class="songBox">
    <span class="song"> <%=item.title%></span>
    <span class="artist">by <%=item.artist%></span>
  </div>
  <div class="publicationDate">
    publication date: <%= item.publicationDate %>
  </div>
</li>
