

<li>
    <div class='song'>
        <p class='songranking'>
            <p class='songnumber'>#<%= song.rank %></p>
            <p class='songstream'>No. of streams <%= song.streams %><p>
        </p>
        <div class='songinfo'>
            <p class='songitle'><%= song.title %></p>
            <p class='songartist'>by <%= song.artist %></p>
            <p class='songpub-date'>Pub. Date: <%= song.publicationDate %></p>
        </div>
    </div>
</li>
