<li class="song-container">

    <div class="rank-box">
        <div class="rank">#<%- song.rank %>. </div>
        <div class="streamed">(<%- song.streams %> streams)</div> 
    </div>
    
    <div class="song-box">
        <div class="title">    <%- song.title %>  </div>
        <div class="artist">    by <%- song.artist %>. </div> 
    </div>
    
    <div class="publication-box">
        <div class="date">   released  on <%- song.publicationDate%>  </div>
    </div>
</li>