<ul>
  <% let songTopArtist = []; %>
  <% let allArtist = {} %>
<!-- loop through top50 and create object to determine most popular artist -->
<!-- add all streams of artist to the object -->
  <% top50.forEach(item => { %>
    <% if (allArtist[item.artist]) { %>
      <% allArtist[item.artist] += item.streams; %>
    <% } else { %>
      <% allArtist[item.artist] = item.streams; %>
    <% } %>
  <% }) %>
<!-- look for most popular (most streams) artist in object -->
  <% let popArtist = Object.keys(allArtist).reduce((a, b) => allArtist[a] > allArtist[b] ? a : b); %>
<!-- push every song of said artist -->
  <% top50.forEach(item => { %>
    <% if (item.artist === popArtist) { %>
      <% songTopArtist.push(item) %>
    <% } %>
  <% }) %>
<!-- print out every song on page -->
  <% songTopArtist.forEach(item => { %>
    <li>
      <div class="left">
        <div class="rank">#<%- item.rank %></div> 
        <div class="stream">(<%- item.streams %> streams)</div>
      </div> 
      <div class="middle">
        <div class="title"><%- item.title %></div> 
        <div class="artist">by <%- item.artist %></div>
      </div> 
      <div class="date right">publication date: <%- item.publicationDate %></div>
    </li>
  <% }) %>
</ul>