<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bookStyle.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>
<ul style="margin: 20px;">
  <% booklist.forEach(book => { %>
    <li class="books-item">
      <a href="/books/<%= book.id %>">
        <img src="<%= book.imgUrl%>"/>
      </a>
      <div class="books-content">
        <h1><%= book.title %> </h1>
        <h2>by <%= book.author %></h2>
        <h3><%= book.type %></h3>
        <p><%= book.description %></p>
      </div>

    </li>
  <% }) %>
</ul>
<% booklist.forEach(book => { %>
  <div class="nav">
    <% if(!isFirstPage) { %>
      <a class="prev" href ="/books/<%- book.id -1 %>">Previous</a>
      <% } %>
      <a class="home" href ="/books">Back to Book List</a>

      <% if(!isLastPage) { %>
        <a class="next" href ="/books/<%- book.id +1 %>">Next</a>
        <% } %>
  </div>
<% }) %>


<%- include('../partials/footer') %>