
<h2><%- ejsTheBook.id %> </h2>

<h2><%- ejsTheBook.type %></h2>
<img src="<%- ejsTheBook.imgUrl %>" alt="img">
<h2><%- ejsTheBook.title %></h2>
<h2><%- ejsTheBook.author %></h2>
<h3><%- ejsTheBook.description %></h3>


<%- include( '../partials/footer') %>