<!doctype html>
<html lang="en">
<head>
<%- include( '../partials/header') %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/books.css">
</head>
<body>
    <ul>
        <% books.forEach(function(book){ %>
            <li>
            <%= book.id %>
                <p><%= book.type %></p>
                    <p class = 'image'><img src="<%= book.imgUrl %>" alt="<%= book.title %>" width="100" height="100"></p>
                        <p><%= book.title %></p>
                                <p><%= book.author %></p>
                                    <p><%= book.description %></p>
           
                                </li>
        <%  }); %>
    </ul>

</body>
<footer>
    <%- include( '../partials/footer') %>
</footer>
</html>