<%- include('../partials/header', {books: books.type}) %>
<div class='main'>
    <div>
        <h2> <%= books.title %></h2>
        <p>By <%= books.author %></p>
    </div>
    <div>
        <img src='<%= books.imgUrl %>' />
    </div>
</div>



<%- include('../partials/footer', {}) %>