<%- include( '../partials/header') %>

    <div class="songPageCont">
        <div class="backdrop">
            <div class="songPageTop">
                <div class="songPageTitle"><%= book.title %></div>
                <div class="songPageArtist"><%= book.artist %></div>
            </div>
            <div class="songPageStreams"><%= book.description %></div>
        </div>
    </div>

<%- include( '../partials/footer') %>