
<%- include( '../partials/header') %>
<div id='box'>
    <h2 id = songTitle><%= theSong.title %></h2>
    <p id = songArtist><%= theSong.artist %></p>
    <p id = songStream><%= theSong.streams %></p>
</div>

<%- include( '../partials/footer') %>