<%- include( '../partials/header') %>\

<ol>
    <div >
        <% popularArtist.map((object, index) => { %>
            <li class="container"> 
                <div class = "rank"> 
                    <span class="ranking">
                        <%="#"+ object.rank %>
                    </span>
                    <span class="stream">
                        <%=" (" + object.streams + "streams) " %>
                    </span>
                </div>
                <div class = "title">
                    <span class = "song">
                        <%=  object.title %>
                    </span>
                    <span class = "title">
                        <%= " by " + object.artist %>
                    </span>
                </div>
                <div class = "date">
                    <span >
                        <%=  "  Date of publication: " + object.publicationDate%>
                    </span>
                </div>
            </li>
            <hr>
            <% }); %>
    </div>
</ol> 

<%- include( '../partials/footer') %>