<%- include('../partials/header') %>


<section class="container" >
    <div class="single-song-container">
        <h2 class="single-song-title"><%- song.title %></h2>
        <p class="single-song-artist"><%- song.artist %></p>
        <p class="single-song-streams"><%- song.streams %></p>
    </div>
</section>

<%- include('../partials/footer') %>