<%- include('../partials/header.ejs', {}); %>
<div class='container'>
    <h2 class='title-box'><%- song.title %></h2>
    <h3 class='artist-box'><%- song.artist %></h3>
    <p class='streams-box'><%- song.streams %></p>
</div>
<%- include('../partials/footer.ejs', {}); %>