<head>
    <link rel="stylesheet" href="/public/css/song-page.css">
</head>

<%- include( '../partials/header', { title: title }) %>
<div class='main'>
    <div class='songPage'>
         <h2 class='songPageTitle'><%= top50.title %></h2>
         <p class='songPageArtist'><%= top50.artist %></p>
         <p class='songPageStreamCount'><%= top50.streams %></p>
    </div>
</div>
<%- include( '../partials/footer') %>