<%- include('../partials/header') %>

<div class="song-page">
  <h2 class="title"><%- song.title %></h2>
  <p class="artist"><%- song.artist %></p>
  <p class="stream-count"><%- song.streams %></p>
</div>

<%- include('../partials/footer') %>