<%- include( '../partials/header', { title: title }) %>

<div class='main'>
  <div class='song-box'>
    <h2 class='song-title'><%= song.title %></h2>
    <p class='song-artist'><%= song.artist %></p>
    <p class='song-streams'><%= song.streams %></p>
  <div>
</div>

<%- include( '../partials/footer') %>
