<%- include( '../partials/header') %>

    <div class="songPageCont">
        <div class="backdrop">
            <div class="songPageTop">
                <div class="songPageTitle"><%= song.title %></div>
                <div class="songPageArtist"><%= song.artist %></div>
            </div>
            <div class="songPageStreams"><%= song.streams %></div>
        </div>
    </div>

<%- include( '../partials/footer') %>
