<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title> 
    <!-- the key in this example is "title" that we are refering-->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>

<div class = "container22">
    <div class="song22">
        <%= song22.title%>
    </div>
    
    <div class="artist22">
        <%= song22.artist%> 
    </div>
    <div class="view22">
        <%= song22.streams%> 
    </div>
    <div>
</div>
<%- include( '../partials/footer') %>