<%- include ('../partials/header') %>

<div class='main'>
    <!-- <nav>
        <a href='previous'>Previous</a>
        <a href='/question8'>Next</a>
    </nav> -->
    <div class='song-page'>
        <h3 class='title'><%= song.title %></h3>
        <p class='artist'><%= song.artist %></p>
        <p class="streams"><span class='stream'><%= song.streams %></span>streams</p>
    </div>
</div>

<%- include ('../partials/footer') %>