<%- include( '../partials/header', { title: title }) %>
<div class='mainsongpage'>
    <div class='eachsongpage'>
         <h2 class='eachsongpagetitle'><%= song.title %></h2>
         <p class='eachsongpageartist'><%= song.artist %></p>
         <p class='eachsongpagestreamount'><%= song.streams %></p>
    </div>
</div>
<%- include( '../partials/footer') %>